<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <mat-card>
        <mat-card-content>
          <h2>Lista de marcas</h2>
          <mat-form-field appearance="standard">
            <mat-label>Filtrar</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Ex. ium"
              #input
            />
          </mat-form-field>
          <br>
          <a mat-list-item [routerLink]="['/trademarks/create']">
            <button mat-raised-button color="accent" go-click="/create" style="margin: 10px">Nuevo</button>
          </a>
  
          <table mat-table [dataSource]="dataSource" style="width: 100%" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
  
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef>Talla</th>
              <td mat-cell *matCellDef="let element"><b>{{ element.size }}</b></td>
            </ng-container>

            <ng-container matColumnDef="observation">
                <th mat-header-cell *matHeaderCellDef>Observacion</th>
                <td mat-cell *matCellDef="let element">{{ element.observation }}</td>
              </ng-container>

              <ng-container matColumnDef="trademark">
                <th mat-header-cell *matHeaderCellDef>Marca<th>
                <td mat-cell *matCellDef="let element">{{ element.trademark.name }}</td>
              </ng-container>

              <ng-container matColumnDef="inventory_quantity">
                <th mat-header-cell *matHeaderCellDef>Cantidad en inventario</th>
                <td mat-cell *matCellDef="let element">{{ element.inventory_quantity }}</td>
              </ng-container>

              <ng-container matColumnDef="boarding_date">
                <th mat-header-cell *matHeaderCellDef>Fecha de embarque</th>
                <td mat-cell *matCellDef="let element">{{ element.boarding_date }}</td>
              </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Opciones</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list
                  aria-label="Fish selection"
                  style="margin: 8px 8px 8px 0;"
                >
                  <button
                    mat-raised-button
                    color="primary"
                    [routerLink]="[element.id + '/edit']"
                  >
                    Editar
                  </button>
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="eliminar(element)"
                    style="margin: 10px"
                  >
                    Eliminar
                  </button>
                </mat-chip-list>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No hay datos que coincidan con el filtro "{{ input.value }}"
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  