<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
      <mat-card>
        <mat-card-content>
          <h2>Crear Marca</h2>
          <div class="row mt-4">
            <div class="col-6">
              <mat-form-field class="ancho-completo" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  placeholder="Nombre de la marca"
                  [formControl]="name"
                  required
                />
                <mat-error *ngIf="name.invalid">{{ getErrMsgName() }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="ancho-completo" appearance="fill">
                <mat-label>Talla</mat-label>
                <input
                  matInput
                  placeholder="Referencia EJ: 001343334DERFAAAAA"
                  [formControl]="size"
                  required
                />
                <mat-error *ngIf="size.invalid">{{
                  getErrMsgSize()
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-2">
              <button mat-raised-button color="primary" style="margin: 10px;" class="float-right" (click)="crear()">
                Crear
              </button>
              <button mat-raised-button color="basic" style="margin: 10px;" class="float-right" (click)="regresar()">
                <mat-icon>subdirectory_arrow_left</mat-icon> Regresar
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  