<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>Prueba de desarrollo DITO</h2>

        Instrucciones: Mediante el uso de Angular v4 o superior, desarrollar la siguiente aplicación:<br>
        Administración para un catálogo de productos, debe contener la siguiente información y<br>
        características:<br>
         <br>
          1. Marca <br>
          ● Nombre de la marca <br>
          ● Referencia (identificador, puede ser numérico o alfanumérico, especificar el <br>
          utilizado) <br>
          2. Producto <br>
          ● Nombre del producto <br>
          ● Talla (S, M, L) <br>
          ● Observaciones <br>
          ● Marca del producto <br>
          ● Cantidad en inventario <br>
          ● Fecha de embarque <br>
          3. El desarrollo debe contar con: <br>
          ● Datos persistentes en la aplicación <br>
          ● Formulario de Creación de nuevos productos <br>
          ● Formulario de Edición de productos <br>
          ● Formulario de Creación de nuevas marcas <br>
          ● Formulario de Edición de marcas <br>
          ● Capacidad de eliminar productos <br>
          ● Capacidad de eliminar marcas <br>
          4. Información adicional <br>
          ● Los formularios deben tener validaciones de acuerdo al tipo de campo. <br>
          ● Todos los campos son obligatorios. <br>
          Debe entregarse los archivos fuente (html, js, css, etc.), puede hacerse mediante acceso a un
          repositorio o un zip al correo queliyg@ditosas.com.<br>
          En caso de hacer uso de alguna librería o algún desarrollo previo, por favor comunicarlo e indicar <br>
          qué ayuda le prestó en el momento de la programación y la forma en que lo asoció a esta prueba. <br>
      </mat-card-content>
    </mat-card>
  </div>
</div>
